# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# User-specific
xcuserdata/

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# Code Injection
iOSInjectionProject/
